<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spin only</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body {
            background-color: #c6dadf;
        }
        .demo-box {
            margin-top: 100px;
            background-color: white;
            box-shadow: 0 0rem 1rem rgba(49, 0, 86, 0.85);
            border-radius: 1.00rem;
        }
        .demo_call_header {
            color: yellow;
            font-size: 8px;
        }
        .demo_call_body {
            color: white;
            font-size: 8px;
            padding-left: 50px;
        }
        .demo_response_header {
            color: #00d500;
            font-size: 8px;
        }
        .demo_response_body {
            color: white;
            font-size: 8px;
            padding-left: 50px;
        }
        #data_in {
            margin-top: 100px;
        }
        .dot {
            width: 8px;
            margin-right: 10px;
        }
        .img_c {
            width: 50px;
        }
    </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="demo-box p-4">
                        <h2>Welcome to my website</h2>
                        <form action="/authspin" method="POST">
                            <div class="form-group">
                              <label for="exampleInputEmail1">Email address</label>
                              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                              <label for="exampleInputPassword1">Password</label>
                              <input type="password" class="form-control" id="exampleInputPassword1">
                            </div>
                            <div class="form-group form-check">
                              <input type="checkbox" class="form-check-input" id="exampleCheck1">
                              <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            </div>
                            <input type="hidden" name="sp_captcha_token" id="sp_captcha_token">
                            <div id="captcha" class=" my-4"></div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </form>
                      </div>
                </div>
            </div>
        </div>    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://captcha-stg.azurewebsites.net/static/captcha.js"></script>
          <script>
              const chart = new spinCAPTCHA({
                  token: '5ecb4af6eb2edc0798b81deb1d09edd50c20c532',
                  target: 'captcha',
                  p_target: 'sp_captcha_token',
              });
          </script>
    </body>
</html>